h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 8em;
}

a {
  display: block;
  text-decoration: none;
  &:visited {
    color: rgba(0, 0, 0, .9);
  }

  &:hover,
  &:focus,
  &:active {
    color: rgba(0, 0, 0, .9);
  }
}

ul {
  list-style-type: none;
}
