// Colors
$black: rgba(0, 0, 0, .9);
$white: #fff;

// Font Colors
$link-color: $black;
$base-font-color: $black;

// Font families
$base-font-family: "Poppins", sans-serif;
$solidkraft-font-familiy: "Cabin", sans-serif;
