.footer {
	padding: 4rem 0 0;
  background-color: $base-background-2;
  grid-area: footer;
  //margin-bottom: -2rem;

	.content-menu {
		display: flex;
		justify-content: space-between;
		ul {
	    list-style-type: none;
			margin-left: 2.5rem;
	    padding-left: 0;

	    a {
	      color: $footer-font-color;
	      font-size: $footer-menu-font-size;
	      font-weight: $sans-serif-regular;
				margin-bottom: 2rem;
	    }
	  }
		> div {
			align-items: center;
			background-color: $exeed-turquoise;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			font-size: $subtitle-font-size;
			height: 10rem;
			justify-content: center;
			margin-right: 2.5rem;
			width: 10rem;
		}
	}
	ul.social-media {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-right: 1rem;
		margin-top: .5rem;

		li {
			display: inline-block;
			margin: 0;

			img {
				height: 2rem;
				width: 2rem;
			}
		}
		.footer-social-line {
			border-top: 2px solid $base-border-color-2;
			margin: 0;
			width: 10rem;
		}
	}
	h2 {
    color: $footer-font-color;
    font-size: 3em;
		font-weight: $sans-serif-light;
    margin: 5rem 1rem 0 2.5rem;

    strong {
      color: $exeed-turquoise;
    }
  }

  p {
    border-top: .1rem solid $base-border-color-2;
    color: $footer-font-color;
    font-size: $font-size-content;
    margin-top: 3rem;
    padding-top: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 55em) {
  .content {
    display: flex;
  }

	.footer {
		padding: 4rem 4rem 0;

		h2 {
			flex: 1;
		}

		ul {
			flex: 1;
			justify-content: flex-end;
			margin-top: 4rem;
		}
	}
}
