.landing {
  grid-area: landing;
  text-align: center;
  h1 {
    border-top: 1px solid rgba(0, 0, 0, .9);
    font-size: 1em;
    letter-spacing: 0.3em;
    margin: 10rem auto 0 auto;
    text-align: center;
    padding: 1rem 0 0 0;
    width: 25rem;
  }

  .land-text {
    align-items: center;
    display: flex;
    flex-direction: column;

    > a {
      align-items: center;
      align-self: flex-end;
      background-color: $black;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-size: 1.7em;
      font-weight: 100;
      height: 8.5rem;
      justify-content: center;
      margin: -2rem 5rem 0 0;
      width: 8.5rem;
    }
  }

  h2 {
    font-size: 5em;
    margin-top: 5.5rem;
    text-align: left;

    a {
      color: $exeed-turquoise;
      margin-bottom: 1.5rem;
      div {
        margin: 0;
        padding: 0;
      }
    }
  }
  .footer-text {
    margin-top: 10rem;
    margin-bottom: 2rem;
    h2 {
      line-height: 0;
      margin-bottom: .5rem;
      a {
        span {
          color: $base-font-color;
        }
      }
    }
  }
  .landing-second-animation {
    color: $white;
    font-size: 5em;
    margin: 0;
    position: absolute;
    right: 0rem;
    z-index: 100;
  }

  .landing-video {
    background-color: $landing-video-background;
    display: inline-block;
    height: auto;
    margin: 0;
    max-width: 55em;
    padding: 4rem 0;
    position: relative;
    text-align: center;
    width: 100%;

    .video video {
      height: auto;
      width: 100%;
    }

    a {
      align-items: center;
      background-color: $exeed-turquoise;
      border-radius: 50%;
      bottom: 0;
      cursor: pointer;
      display: flex;
      height: 7rem;
      justify-content: center;
      margin: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 7rem;
      z-index: 10;

      img {
        height: 3rem;
        margin: 0;
        margin-left: .5rem;
        width: 3rem;
      }
    }
  }
}

@media screen and (min-width: 55em) {
  .landing {
    overflow-x: hidden;
    padding-bottom: 7rem;
    position: relative;

    h1 {
      letter-spacing: .5em;
      margin-top: 7rem;
      margin-bottom: 0;
      padding: 2rem 0 0 0;
      width: 40rem;
    }

    .land-text {
      align-items: flex-start;
      margin-left: 4rem;
      margin-top: 0;
      width: 30rem;

      h2 {
        margin-top: 3rem;
      }

      > a {
        align-self: center;
      }
    }

    .landing-video {
      align-items: center;
      padding: 0;
      border-radius: 50%;
      display: flex;
      height: 100%;
      margin-top: -2rem;
      max-height: 32.5rem;
      max-width: 32.5rem;
      overflow-x: hidden;
      position: absolute;
      right: -10rem;
      top: 10rem;
      width: 100%;

      .video video {
        height: auto;
        width: 80%;
      }

      a {
        background-color: transparent;

        img {
          height: 5rem;
          width: 5rem;
        }
      }
    }
    .footer-text {
      h2 {
        text-align: center;
      }
    }
    .landing-second-animation {
      color: $black;
    }
  }
}
