.our-work {
  grid-area: ourwork;
  .ourwork-header {
    h1 {
      border-bottom: 2px solid $base-border-color-1;
      border-top: 2px solid $base-border-color-1;
      font-size: $ourwork-title-size;
      margin-bottom: 0;
      margin-left: 3rem;
      margin-right: 6rem;
      padding: 1.5rem 0;
      span {
        color: $exeed-turquoise;
      }
    }
    > a {
      align-items: center;
      background-color: $exeed-turquoise;
      border-radius: 50%;
      display: flex;
      float: right;
      font-size: $subtitle-font-size;
      height: 12rem;
      justify-content: center;
      margin: -3.5rem 5.4rem 0 0;
      width: 12rem;
    }
  }
  > img {
    display: none;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;

    .project {
      display: flex;
    }

    .solidkraft, .agendame, .exeed {
      cursor: pointer;
      height: 10rem;
      margin: 1rem 1rem 0 0;
      position: relative;
      width: 14rem;
      > img {
        height: 100%;
        width: 100%;
      }
      .website-desktop {
        display: none;
      }
      div {
        align-items: center;
        background-color: rgba(0, 0, 0, .4);
        bottom: 0;
        color: $ourwork-font-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        h2 {
          font-size: 1.7em;
          margin: 1rem 0 0 0;
        }
        a {
          align-items: center;
          color: $ourwork-font-color;
          display: flex;
          margin: 0;
          img {
            margin: 0;
            max-width: 2.5rem;
            width: 100%;
          }
        }
      }
    }
    .arrows {
      display: none;
    }
    .exeed {
      width: 25rem;
    }
  }
}
@media screen and (min-width: 55em) {
  .our-work {
    align-items: center;
    display: flex;
    overflow-x: hidden;
    position: relative;
    .ourwork-header {
      h1 {
        font-size: 6em;
        margin: 12rem 0 0 3rem;
        padding: 1rem 10rem 1rem 2rem;
        width: 35rem;
      }
      > a {
        font-size: 1em;
        height: 8rem;
        margin: 1rem 0 5rem 0;
        width: 8rem;
      }
    }
    > img {
      cursor: pointer;
      display: block;
      height: auto;
      margin-bottom: 10rem;
      max-width: 8rem;
    }
    .projects {
      align-items: center;
      align-items: center;
      background-color: $base-background-1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;
      justify-content: flex-start;
      margin: 0;
      position: absolute;
      right: -85%;
      top: 0;
      transition: all 500ms ease;
      width: 100%;
      z-index: 10000;

      .project {
        flex-direction: column;
      }
      .solidkraft, .agendame, .exeed {
        height: auto;
        margin: 0 3rem 2rem 0;
        padding: 0;
        width: 28rem;
        > img {
          height: auto;
          margin: 0;
          max-width: 40rem;
          width: 100%;
        }
        .website-desktop {
          display: block;
        }
        .website-mobile {
          display: none;
        }
        div {
          background-color: rgba(0, 0, 0, .8);
          border-radius: 1rem;
          h2 {
            font-size: 3em;
          }
          a {
            font-size: .6em;
          }
        }
      }
      .arrows {
        align-items: center;
        bottom: 8rem;
        display: flex;
        position: absolute;
        right: 8rem;
        img {
          cursor: pointer;
          height: auto;
          margin: 0 2rem 0 0;
          max-width: 6rem;
        }
      }
      .exeed {
        height: auto;
        width: 28rem;
      }
    }
  }
}
