.our-process {
  grid-area: process;
  position: relative;
  > h1 {
    border-bottom: 2px solid $base-border-color-1;
    border-top: 2px solid $base-border-color-1;
    font-size: $medium-font-size;
    margin: 8rem 8rem 4rem 2rem;
    padding: 1rem 0;
    span {
      color: $exeed-turquoise;
    }
  }
  .process-container {
    margin-bottom: 50rem;
    > div {
      background-color: #EBEBEB;
      border-radius: 1.3rem;
      padding: 2rem 1.5rem;
      margin: 5rem auto;
      width: 80vw;
      > div {
        align-items: baseline;
        display: flex;
        h2 {
          font-size: $medium-font-size;
          margin: 0;
        }
        h3 {
          border-bottom: 1px solid $base-border-color-1;
          font-size: $small-font-size;
          font-weight: $sans-serif-medium;
          margin: 0 0 0 1rem;
          padding-right: 1rem;
          text-align: right;
          width: 80%;
        }
      }
      > p {
        font-size: $font-size-content;
        line-height: 2rem;
        margin-left: 4rem;
        margin-top: 0;
      }
    }
  }
  > img {
    bottom: -12rem;
    left: 0;
    margin: 0 auto;
    max-height: 25rem;
    max-width: 25rem;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;
  }
}

@media screen and (min-width: 55em) {
  body {
    overflow-x: hidden;
  }
  .our-process {
    .process-container {
    }
    > img {
      bottom: -14.4rem;
      display:grid;
      left: auto;
      margin: 0;
      max-height: 30rem;
      max-width: 30rem;
      overflow-x: hidden;
      // white-space:normal;
      // text-overflow: clip;
      right: -5rem;
      //z-index: 1000;
    }
  }
}
