.landing {
  .spheres {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;

    img {
      height: auto;
      margin: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: -1000;
    }
    img:nth-child(1) {
      max-width: 3rem;
      top: 7rem;
    }
    img:nth-child(2) {
      left: 6rem;
      max-width: 6rem;
      top: 14rem;
    }
    img:nth-child(3) {
      left: 100%;
      max-width: 15rem;
    }
  }
  .spheres-2 {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    img {
      height: auto;
      margin: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: -1000;
    }
    img:nth-child(1) {
      left: 3rem;
      max-width: 10rem;
      top: 35rem;
    }
    img:nth-child(2) {
      left: 12rem;
      max-width: 6rem;
      top: 30rem;
    }
    img:nth-child(3) {
      left: 70%;
      max-width: 8rem;
      top: 38rem;
    }
  }
}
.services {
  position: relative;
  .spheres {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;

    img {
      height: auto;
      margin: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    img:nth-child(1) {
      left: 22%;
      max-width: 6rem;
      top: 14rem;
    }
    img:nth-child(2) {
      left: 70%;
      max-width: 6rem;
    }
    img:nth-child(3) {
      left: 100%;
      max-width: 7rem;
      top: 40%;
      z-index: 10;
    }
  }
  .spheres-2 {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;

    img {
      height: auto;
      margin: 0;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    img:nth-child(1) {
      max-width: 5rem;
      top: 38rem;
    }
    img:nth-child(2) {
      left: 55%;
      max-width: 8rem;
      top: 45rem;
    }
    img:nth-child(3) {
      max-width: 6rem;
      top: 60rem;
    }
    img:nth-child(4) {
      left: 70%;
      max-width: 7rem;
      top: 65rem;
    }
  }
}
.our-process {
  position: relative;
  .sphere-process {
    position: absolute;
    height: auto;
    margin-right: 2rem;
    max-width: 10rem;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .spheres {
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1000;

    img {
      height: auto;
      left: 40%;
      margin: 0;
      margin-top: 15rem;
      max-width: 12rem;
      position: sticky;
      top: 0;
      width: 100%;
    }
  }
}
.spheres-landing-desktop {
  display: none;
}
.desktop-sphere {
  display: none;
}
@media screen and (min-width: 55em) {
  .landing {
    .spheres, .spheres-2 {
      display: none;
    }
  }
  .spheres-landing-desktop {
    bottom: 0;
    display: block;
    height: 210%;
    left: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1000;
    img {
      height: auto;
      max-width: 8rem;
      position: sticky;
      top: 0;
      width: 100%;
    }
    img:nth-child(1) {
      left: 2rem;
      top: 50%;
    }
    img:nth-child(2) {
      left: 2rem;
      top: 85%;
    }
    img:nth-child(3) {
      left: 25rem;
      top: 60%;
    }
    img:nth-child(4) {
      left: 50rem;
      max-width: 10rem;
      top: 75%;
    }
  }
  .services {
    .spheres {
      img:nth-child(1) {
        left: 3rem;
        max-width: 8rem;
        top: 20%;
      }
      img:nth-child(2) {
        left: 50%;
        max-width: 8rem;
        top: 3rem;
      }
      img:nth-child(3) {
        left: 100%;
        max-width: 5rem;
        top: 70%;
        z-index: 1;
      }
    }
    .spheres-2 {
      img:nth-child(1) {
        left: 5rem;
        max-width: 8rem;
        top: 90%;
      }
      img:nth-child(2) {
        left: 30%;
        max-width: 8rem;
        top: 60%;
      }
      img:nth-child(3) {
        left: 80%;
        max-width: 8rem;
        top: -3rem;
      }
    }
  }
  .our-process {
    .sphere-process {
      margin-right: 15rem;
      max-width: 15rem;
    }
    .spheres {
      img {
        left: 0;
        margin: 0;
        max-width: 8rem;
        opacity: 0.4;
        z-index: 10;
      }
      img:nth-child(2) {
        left: 20rem;
        top: 70%;
      }
      img:nth-child(3) {
        left: 55%;
        top: 0;
      }
      img:nth-child(4) {
        left: 85%;
        top: 85%;
      }
    }
  }
  .who-we-are {
    .cover {
      display: block;
    }
    .spheres {
      bottom: 0;
      left: 0;
      position: absolute;
      padding: 0;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 1;

      img {
        height: auto;
        margin: 0;
        max-width: 5rem;
        position: sticky;
        top: 0;
        width: 100%;
      }
      img:nth-child(1) {
        left: 5rem;
        top: 15%;
      }
      img:nth-child(2) {
        left: 35%;
        top: 40%;
      }
      img:nth-child(3) {
        left: 70%;
        top: 70%;
      }
    }
  }
  .our-work {
    .spheres {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1000;

      img {
        height: auto;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      img:nth-child(1) {
        left: 0;
        max-width: 14rem;
        top: 70%;
      }
      img:nth-child(2) {
        left: 45%;
        max-width: 12rem;
        top: 0rem;
      }
    }
    .spheres-2 {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1000;

      img {
        height: auto;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      img:nth-child(1) {
        left: 50%;
        max-width: 10rem;
        top: 70%;
      }
      img:nth-child(2) {
        left: 80%;
        max-width: 7rem;
        top: 2rem;
      }
    }
  }
  .work-with-us {
    position: relative;
    .work-with-us-sphere {
      height: auto;
      margin: 0;
      max-width: 12rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }
  .mobile-sphere {
    display: none;
  }
  .desktop-sphere {
    display: inline;
  }
}
