.who-we-are {
  background-color: #1E1F21;
  color: #FFF;
  display: flex;
  flex-direction: column;
  grid-area: whoweare;
  padding-bottom: 4rem;
  position: relative;

  .cover {
    background-color: #1E1F21;
    display: none;
    height: 7rem;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  .cover-bottom {
    bottom: 0;
  }
  > h1 {
    letter-spacing: 0.05em;
    font-size: 4.5em;
    margin: 5rem auto 0 auto;
    position: relative;
    z-index: 10;
    .we-turquoise {
      color: $exeed-turquoise;
      letter-spacing: 0.1em;
    }
  }
  .philosophy {
    border-bottom: 2px solid $white;
    border-top: 2px solid $white;
    display: flex;
    flex-direction: column;
    margin: 6rem 4rem;
    padding: 1rem 0;
    z-index: 10;

    h1 {
      font-size: $font-size-content;
      margin: 2rem 0;
    }
    p {
      font-size: $font-size-content;
      line-height: 2rem;
    }
  }
  .our-team {
    border-top: 0;
    margin: 2rem 7rem 0 2rem;
    z-index: 10;
    h1 {
      margin: 1rem 0;
    }
    p {
      margin: 2rem 3rem;
    }
  }
  .team-info {
    align-items: center;
    display: flex;

    .team-members {
      align-items: center;
      display: flex;
      font-size: $small-font-size;
      line-height: 2rem;
      margin: 0;
      z-index: 10;

      .team-member-line {
        border-top: 2px solid $base-border-color-2;
        margin: 0 1rem 0 0;
        width: 3.4rem;
      }
    }
    a {
      align-items: center;
      background-color: $exeed-turquoise;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-size: $font-size-content;
      height: 6.7rem;
      justify-content: center;
      margin-left: auto;
      margin-right: 5rem;
      width: 6.7rem;
    }
  }
}

@media screen and (min-width: 55em) {
  .who-we-are {
    position: relative;
    > h1 {
      border-bottom: 2px solid $base-border-color-2;
      font-size: $medium-font-size;
      padding-right: 14rem;
      text-align: right;
      width: 100%;
      z-index: 200!important;

      .we-turquoise {
        color: $white;
      }
      .are-turquoise {
        color: $exeed-turquoise;
      }
    }
    .philosophy {
      border: 0;
      margin-bottom: 0;
      h1 {
        margin-left: 5rem;
      }
      p {
        margin-left: 15rem;
        margin-right: 10rem;
      }
    }
    img {
      bottom: 10rem;
      height: auto;
      position: absolute;
      right: 0;
      width: 19rem;
      z-index: 10;
    }
    .our-team {
      margin-top: 0;
      h1 {
        align-self: flex-end;
        border-top: 2px solid $base-border-color-2;
        padding-top: 5rem;
        text-align: right;
        width: 40%;
      }
      p {
        margin-left: 3rem;
        margin-right: 25rem;
      }
    }
    .team-info {
      align-items: flex-start;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 5rem;

      .team-members {
        .team-member-line {
          width: 15rem;
        }
      }
      a {
        margin-bottom: 3rem;
        margin-left: 20rem;
        z-index: 100;
      }
    }
  }
}
