.who-we-are {
  background-color: #1E1F21;
  color: #FFF;
  display: flex;
  flex-direction: column;
  grid-area: whoweare;
  padding: 1rem 0;

  > h1 {
    border-bottom: 2px solid #FFF;
    font-size: 1.2em;
    margin: 0 2rem;
    padding: 1rem 2rem 0;
    text-align: right;
    text-transform: lowercase;
  }
}

.philosophy {
  border-bottom: .1rem solid #fff;
  display: flex;
  flex-direction: column;
  margin: auto 2rem;

  h1 {
    margin-bottom: 0;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.team {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  img {
    width: 100%;
  }
}

.team-info {
  margin-top: .5rem;

  p {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

@media screen and (min-width: 55em) {
  .philosophy {
    flex-direction: row;

    p {
      margin-left: 8rem;
      margin-right: 5rem;
    }
  }

  .team {
    flex-direction: row;
  }

  .team-info {
    margin: 0 7rem;
  }
}
