.work-with-us {
  background-color: $base-background-2;
  display: flex;
  flex-direction: column;
  grid-area: workwithus;
  .enticement {
    .big-idea {
      border-bottom: 2px solid $base-border-color-2;
      border-top: 2px solid $base-border-color-2;
      color: $workwithus-font-color;
      font-size: 3.8em;
      line-height: 6rem;
      margin: 30rem 0;
      padding: 1rem;
      span {
        color: $exeed-turquoise;
      }
    }
    .links {
      display: none;
    }
  }
  .work-with-us-form {
    background-color: $workwithus-form-background;
    border-top-left-radius: 3.3rem;
    border-top-right-radius: 3.3rem;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 3.3rem;

    > h1 {
      font-size: $subtitle-font-size;
      margin: 5rem auto 8rem auto;
      z-index: 1000;
    }
    input {
      background-color: $workwithus-form-background;
      border: none;
      border-bottom: 1px solid $base-border-color-1;
      font-size: $font-size-content;
      margin: 0 5rem 6rem 3rem;
      outline: none;
      padding-bottom: .7rem;
    }
    textarea {
      background-color: $workwithus-form-background;
      border: none;
      border-bottom: 1px solid $base-border-color-1;
      font-size: $font-size-content;
      height: 3rem;
      margin: 0 5rem 3rem 3rem;
      outline: none;
    }
    .submit-button {
      align-self: flex-end;
      background-color: $exeed-turquoise;
      border: none;
      border-radius: 50%;
      color: $workwithus-font-color;
      cursor: pointer;
      font-size: $subtitle-font-size;
      height: 8rem;
      margin-right: 3rem;
      outline: none;
      width: 8rem;
    }
  }
}

@media screen and (min-width: 55em) {
  .work-with-us {
    background-color: $base-background-1;
    flex: 1;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .enticement {
      background-color: $base-background-2;
      border-bottom-right-radius: 3.3rem;
      border-top-right-radius: 3.3rem;
      height: 42rem;

      .big-idea {
        border: 0;
        font-size: 3em;
        line-height: 4rem;
        margin: 2rem 0 0 4rem;
        span {
          color: $workwithus-font-color;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 0 2rem;
        padding-bottom: 0rem;

        > a {
          align-self: flex-end;
          border-bottom: 1px solid $base-border-color-2;
          color: $workwithus-font-color;
          margin-bottom: 1rem;
          margin-top: 3rem;
          padding-bottom: 1rem;
          width: 25rem;
        }
        ul.social-media {
          margin-bottom: 0;

          li > a > img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
    .work-with-us-form {
      border-bottom-left-radius: 3.3rem;
      border-top-right-radius: 0;
      margin: 1.5rem 0 5rem 0;
      width: 50rem;
      input {
        margin: 0 0 4rem 2rem;
        padding-bottom: 0;
      }
      textarea {
        margin: 0 0 1rem 2rem;
      }
    }
  }
}
