.work-with-us {
  display: flex;
  flex-direction: row;
  grid-area: workwithus;
  min-height: auto;


}

.work-with-us-form {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 0 2rem 2.3rem;

  > h1 {
    border-bottom: 2px solid $base-border-color-1;
    font-size: $font-size-content;
    padding: 0 2rem;
    text-align: right;
    text-transform: lowercase;
  }

  label {
    color: rgba(0, 0, 0, .5);
    margin-bottom: -1.2rem;
  }

  input {
    border: none;
    border-bottom: 1px solid #DDD;
    height: 1.5rem;
  }

  textarea {
    border: none;
    border-bottom: 1px solid #DDD;
    height: 3rem;
  }
}

.submit-button {
  background-color: #FFF;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  align-self: flex-end;
}

.enticement {
  background-color: #000000;
  display: none;
  flex: 2;
  flex-direction: column;
  margin: 0;
  padding: 0 2rem;

  > h3 {
    color: #FFF;
    border-top: 1px solid #FFF;
    font-weight: $sans-serif-regular;
    font-size: 2em;
    line-height: $base-line-height;
    padding-top: 1.5rem;

    span {
      color: $exeed-turquoise;
    }
  }

  .links {
    display: flex;
    border-bottom: 1px solid #FFF;
    justify-content: space-between;
    margin: 0 0 2rem;
    padding-bottom: 2rem;

    > a {
      align-self: flex-end;
      color: #FFF;
    }

    ul.social-media {
      margin-bottom: 0;
      li > a > img {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 55em) {
  .enticement {
    display: flex;
  }
}
