.work-with-us {
  background-color: $base-background-2;
  display: flex;
  flex-direction: column;
  grid-area: workwithus;
  //min-height: auto;
  .enticement {
    .big-idea {
      border-bottom: 2px solid $base-border-color-2;
      border-top: 2px solid $base-border-color-2;
      color: $workwithus-font-color;
      font-size: $medium-font-size;
      line-height: 6rem;
      margin: 30rem 0;
      padding: 1rem;
      span {
        color: $exeed-turquoise;
      }
    }
  }
  .work-with-us-form {
    background-color: $workwithus-form-background;
    border-top-left-radius: 3.3rem;
    border-top-right-radius: 3.3rem;
    display: flex;
    flex: 3;
    flex-direction: column;
    padding: 0 2rem 2.3rem;

    > h1 {
      font-size: $subtitle-font-size;
      margin: 5rem auto 8rem auto;
    }
    input {
      background-color: $workwithus-form-background;
      border: none;
      border-bottom: 1px solid $base-border-color-1;
      font-size: $font-size-content;
      margin: 0 5rem 6rem 3rem;
      outline: none;
      padding-bottom: .7rem;
    }
    textarea {
      background-color: $workwithus-form-background;
      border: none;
      border-bottom: 1px solid $base-border-color-1;
      font-size: $font-size-content;
      height: 3rem;
      margin: 0 5rem 3rem 3rem;
      outline: none;
    }
    .submit-button {
      align-self: flex-end;
      background-color: $exeed-turquoise;
      border: none;
      border-radius: 50%;
      color: $workwithus-font-color;
      cursor: pointer;
      font-size: $subtitle-font-size;
      height: 8rem;
      margin-right: 3rem;
      width: 8rem;
    }
  }

}

// .work-with-us-form {
//   display: flex;
//   flex: 3;
//   flex-direction: column;
//   padding: 0 2rem 2.3rem;
//
//   > h1 {
//     border-bottom: 2px solid rgba(0, 0, 0, .9);
//     font-size: 1.2em;
//     padding: 0 2rem;
//     text-align: right;
//     text-transform: lowercase;
//   }
//
//   label {
//     color: rgba(0, 0, 0, .5);
//     margin-bottom: -1.2rem;
//   }
//
//   input {
//     border: none;
//     border-bottom: 1px solid #DDD;
//     height: 1.5rem;
//   }
//
//   textarea {
//     border: none;
//     border-bottom: 1px solid #DDD;
//     height: 3rem;
//   }
// }
//
// .submit-button {
//   background-color: #FFF;
//   border: none;
//   border-radius: 60px;
//   cursor: pointer;
//   height: 6rem;
//   width: 6rem;
//   align-self: flex-end;
// }
//
// .enticement {
//   background-color: #000000;
//   display: none;
//   flex: 2;
//   flex-direction: column;
//   margin: 0;
//   padding: 0 2rem;
//
//   > h3 {
//     color: #FFF;
//     border-top: 1px solid #FFF;
//     font-weight: 400;
//     font-size: 2em;
//     line-height: 1.4;
//     padding-top: 1.5rem;
//
//     span {
//       color: #72DDDD;
//     }
//   }
//
//   .links {
//     display: flex;
//     border-bottom: 1px solid #FFF;
//     justify-content: space-between;
//     margin: 0 0 2rem;
//     padding-bottom: 2rem;
//
//     > a {
//       align-self: flex-end;
//       color: #FFF;
//     }
//
//     ul.social-media {
//       margin-bottom: 0;
//       li > a > img {
//         height: 1.5rem;
//         width: 1.5rem;
//       }
//     }
//   }
// }

@media screen and (min-width: 55em) {
  .enticement {
    display: flex;
  }
}
