.who-we-are {
  background-color: $base-background-2;
  color: $white;
  display: flex;
  flex-direction: column;
  grid-area: whoweare;
  padding: 1rem 0;

  > h1 {
    border-bottom: 2px solid $white;
    font-size: $font-size-content;
    margin: 0 2rem;
    padding: 1rem 2rem 0;
    text-align: right;
    text-transform: lowercase;
  }
}

.philosophy {
  border-bottom: .1rem solid $base-border-color-2;
  display: flex;
  flex-direction: column;
  margin: auto 2rem;

  h1 {
    margin-bottom: 0;
  }

  p {
    font-size: $font-size-content;
    line-height: $base-line-height;
  }
}

.team {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;

  img {
    width: 100%;
  }
}

.team-info {
  margin-top: .5rem;

  p {
    font-size: $font-size-content;
    line-height: $base-line-height;
  }
}
