.js-show-on-scroll {
  opacity: 0;
  transform: translateY(3em);
  transition: transform 2s .25s cubic-bezier(0, 1, .3, 1),
              opacity .3s .25s ease-out;
}

.js-show-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 55em) {
  .js-show-on-scroll {
    transform: translateY(3em);
    transition: transform 2s .25s cubic-bezier(0, 1, .3, 1),
                opacity .3s .1s ease-out;
  }
}
