@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/poppins-semi-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/poppins-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/poppins-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../../../fonts/poppins-light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
